@using Abc.Pages.Common.Aids
@using Abc.Pages.Common.Extensions
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Title;
    var itemId = Model.ItemId;
}

<p>
    <h1>@ViewData["Title"]</h1>
</p>


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    @RenderBody()
    <div class="form-inline">
        <form id="deleteForm"
              asp-page-handler="Delete"
              asp-route-sortorder="@Model.SortOrder"
              asp-route-fixedFilter="@Model.FixedFilter"
              asp-route-fixedValue="@Model.FixedValue"
              asp-route-pageIndex="@Model.PageIndex"
              asp-route-id="@itemId"
              method="post">
            <input id="deleteButton" type="submit" value="Delete" class="btn btn-danger" />
            &nbsp;
            @Html.BackTo(
                new Args(
                    Model.PageUrl,
                    null,
                    Model.FixedFilter,
                    Model.FixedValue,
                    Model.SortOrder,
                    Model.SearchString,
                    Model.PageIndex
                    ))
        </form>
    </div>
</div>
