@using Abc.Pages.Common.Aids
@using Abc.Pages.Common.Extensions
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Title;
    var itemId = Model.ItemId;
}

<p>
    <h1>@ViewData["Title"]</h1>
</p>

<div>
    <h4>Details</h4>
    <hr />
    @RenderBody()
</div>
<div class="form-inline">
    <a id="editButton"
       asp-page="./Edit"
       asp-route-handler="Edit"
       asp-route-sortorder="@Model.SortOrder"
       asp-route-fixedFilter="@Model.FixedFilter"
       asp-route-fixedValue="@Model.FixedValue"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-id="@itemId">Edit</a>
    &nbsp;
    @Html.BackTo(
        new Args(
            Model.PageUrl,
            null,
            Model.FixedFilter,
            Model.FixedValue,
            Model.SortOrder,
            Model.SearchString,
            Model.PageIndex))
    &nbsp;
    @RenderSection("Details")
</div>