@using Abc.Aids.Reflection
@using Abc.Pages.Common.Extensions
@using Abc.Facade.Processes
@model Abc.Pages.Processes.ActionTypesPage

<body>
    @if (Model.OutcomeTypes.Count != 0)
    {
        <h3>Outcome types for selected action type</h3>
        <table class="table">
            <tr>
                <th>@(GetMember.DisplayName<OutcomeTypeView>(x => x.Name))</th>
                <th>@(GetMember.DisplayName<OutcomeTypeView>(x => x.ValidFrom))</th>
                <th>@(GetMember.DisplayName<OutcomeTypeView>(x => x.ValidTo))</th>
            </tr>
            @foreach (var item in Model.OutcomeTypes)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.Name) </td>
                    <td> @Html.DisplayFor(modelItem => item.ValidFrom) </td>
                    <td> @Html.DisplayFor(modelItem => item.ValidTo) </td>
                </tr>
            }
        </table>
    }
</body>
